<!-- Background images are better implemented in CSS -->
<!-- but here is how you could do it in HTML in a pinch -->

<head>
  <style>
    .background {
      background-image: url(images/robot.png);
    }
  </style>
</head>

<body class=background>
  <div >
    <h1>RoboFix is coming!</h1>
  </div>